[package]
name = "libil2cpp"
version = "0.1.0"
authors = ["StackDoubleFlow <ojaslandge@gmail.com>"]
edition = "2018"

[dependencies]
dlopen = "0.1.8"
dlopen_derive = "0.1.4"
paste = "1"
quest_hook_proc_macros = { path = "../proc_macros" }

[features]
default = []
strict = []
